header {
  width: 100%;
  height: var(--header-height);
  background-color: white;
  box-shadow: rgb(0 0 0 / 8%) 0 2px 4px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  container {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    .logo {
      height: 50px;
      font-size: 0.8rem;
      color: white;
      background-color: #000;
      padding: 0 0.5rem;
      border-radius: var(--glb-border-radius);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    container {
      gap: 0.25rem;
      .logo {
        width: 45px;
        height: 45px;
        font-size: 0.65rem;
      }
    }
  }
}
