.skeleton {
  background: linear-gradient(90deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: 1.5s skeleton linear infinite;
}

@keyframes skeleton {
  to {
    background-position-x: -200%;
  }
}
